<div class="col-md-6 col-md-offset-3 col-xs-12">
  <h1>
    New inventory item
    <div class="pull-right">
      <%= link_to 'Back', inventory_items_path, :class => "btn btn-primary"%>
    </div>
  </h1>

  <%= render 'form' %>
</div>
