<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">SimpleInventory</h1>
    <p class="lead">This is an application to easily manage inventory items</p>
    <hr class="my-4">
    <p>Click below to get started!</p>
    <p class="lead">
      <%= link_to "Get Started!", inventory_items_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
